<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<header>
		<h1>
			<a href="" id="main-taitle">Some News</a>
		</h1>
	</header>
	<main>
		<div id="note">
			{% for post in posts %}
			<div>
				<h2 class="post-name">
					<a href="">{{post.title}}</a>
				</h2>
				<p class = "post-date">published: {{post.published_date}}</p>
				<p class="post-txt">{{ post.text|linebreaksbr}}</p>
			</div>
				
			
			{% endfor %}
		</div>
	</main>
</body>
</html>