<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<header>
		<h1>
			<a href="" id="main-taitle">Some News</a>
		</h1>
	</header>
	<main>
		<div id="note">
			<p id="date">published: 04.08.2016, 12:14</p>
			<h2><a href="">First post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ducimus ea iusto porro quos iste nihil. Unde, sunt. Similique, dolore nisi harum excepturi consequatur quis assumenda facilis voluptatibus perspiciatis nobis.</p>
		</div>
	</main>
</body>
</html>